/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.player_one, .player_two{
	background-color:rgb(255, 255, 255);
	padding: 20ox;
	border-radius:10px;
	margin:10px;
}
ul {
	list-style-type: none;
    padding: 0;
}
li {
    text-decoration-line: none;
	margin-bottom: 10px;
}
a {
    color: black;
}